* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181719;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1286px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
}

.header-menu {
  display: flex;
}

.menu-item {
  padding: 0 43px;
  list-style-type: none;
}

.menu-link {
  padding: 8px 0;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.menu-item:last-child {
  padding-right: 0;
}

.menu-item:first-child {
  padding-left: 0;
}

.menu-item .active {
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

.menu-link:hover {
  border-bottom: 2px solid #ffffff;
}

.logo {
  display: block;
  padding: 8px;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
}

/*          main             */

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.main-info {
  max-width: 410px;
  width: 100%;
}

.main-title {
  margin-bottom: 40px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
}

.main-description {
  margin-bottom: 48px;
  font-weight: 300;

  font-size: 24px;
  line-height: 29px;
}

.read-more-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow {
  margin-left: 14px;
}

.main-design {
  position: relative;
}

.design-description {
  position: absolute;
  right: 30px;
  bottom: -100px;
  width: 368px;
  padding: 20px 26px;
  background-color: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.design-image {
  max-width: 700px;
  width: 100%;
}

.design-info {
  display: flex;
  align-items: center;
}

.designer-photo {
  margin-right: 20px;
  width: 50px;
  border-radius: 100%;
}

.designer-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.designer-job {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.design-year {
  margin-top: 25px;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.footer {
  margin-top: 230px;
  margin-bottom: 24px;
  text-align: center;
}

.footer-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}

.footer-link {
  text-decoration: none;
  color: #a9a9a9;
}

.footer-link:hover {
  color: #7e7b7b;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  .main {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
  }

  .main-design {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
}

@media (max-width: 670px) {
  .design-description {
    padding: 14px 19px;
    width: 258px;
    right: 10px;
  }
}

@media (max-width: 425px) {
  .main {
    margin-top: 45px;
  }

  .main-title {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 46px;
  }

  .main-description {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
  }

  .design-year {
    margin-top: 15px;
    font-size: 18px;
    line-height: 23px;
  }

  .designer-photo {
    width: 40px;
  }

  .footer {
    margin-top: 145px;
  }
}

@media (max-width: 320px) {
  .design-description {
    width: 218px;
  }
}
